/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

#search-bar,
#filter-dropdown {
  padding: 10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td, th {
  padding: 10px;
}

button {
  padding: 5px;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode table {
  background-color: #444;
}

button#dark-mode-toggle {
  margin-top: 20px;
}
